[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy-splash = "*"
requests = "*"
tornado = "*"
schema = "*"
marshmallow = "*"
pytest = "*"
mock = "*"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.7"
